{% extends "base.html" %}
{% block content %}
<section class="content">
{% block content_title %}
  <h1>Blog</h1>
  {% endblock %}

  <section class="category-display">
    {% for category, articles in categories|sort(articles|count) %}
      <div class="flex-col">
        <h2>{{ category }} ({{ articles|count }})</h2>
        {% for article in articles %}
          {% if loop.index < 6 %}
            <h3>
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h3>
          {% endif %}
        {% endfor %}
        {% if articles|count > 5 %}
          <h4>
            <a href="{{ SITEURL }}/{{ category.url }}">More...</a>
          </h4>
        {% endif %}
      </div>
    {% endfor %}
  </section>

  {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
  {% endif %}
</section><!-- /#content -->
{% endblock content %}